.mainHeader {
  text-transform: capitalize;
  text-align: center;
  font-weight: bold;
  font-size: 1.8rem!important;
  width: 100%;
  color: #fff !important;
}

.FloatActionButtonWrapper {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
}